{% trans_default_domain 'app' %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Ludoteca Portal Lúdico{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    <script defer data-domain="ludoteca-portal-ludico.yivoff.com" src="https://plausible.io/js/plausible.js"></script>
</head>
<body>
{% block body %}{% endblock %}
<footer class="footer">
    {% block footer %}
        <div class="content has-text-centered">
            <p>Ludoteca Portál Lúdico. Contenido de ludoteca y datos de juegos importados desde BGG, para <a href="https://boardgamegeek.com/collection/user/{{ import.username  }}">el usuario {{ import.username  }}</a></p>

            <p>Última importación: {{ import.dateTime }}</p>
            <p class="is-size-2"> 🖖</p>
        </div>
    {% endblock %}
</footer>
</body>
</html>
