{% extends 'base.html.twig' %}
{% block body %}
    {% set columns = {
        name: {label: 'Nombre', icon: '', iconCode: ''},
        rating: { label: 'Puntuación BGG', icon: 'medal-line', iconCode: '904'},
        minPlayers: {label: 'Jugadores Min', icon: 'group-line', iconCode: '903'},
        maxPlayers: {label: 'Jugadores Max', icon: 'team-line', iconCode: '906'},
        minPlaytime: {label: 'Duración Min', icon: 'time-line', iconCode: '907'},
        maxPlaytime: {label: 'Duración Max', icon: 'timer-line', iconCode: '908'},
        averageWeight: {label: 'Peso BGG', icon: 'scales-2-line', iconCode: '905'},
        recommendedAge: {label: 'Edad Min', icon: 'cake-2-line', iconCode: '901'},
        yearPublished: {label: 'Año', icon: 'calendar-line', iconCode: '902'}
    } %}
    <!-- search form -->

    <section class="section" data-controller="search">
        <article class="message is-info" id="searchBox">
            <div class="message-header" data-action="click->search#toggle">
                Mostrar búsqueda
                <button class="activator">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
            <div class="message-body {{ searchParams.activeSearch ? '' :'is-hidden' }}">
                {{ form(form, {'action': path('library'), 'attr': { 'data-turbo-frame': 'game-table-frame', 'data-turbo-action':'replace'} } ) }}
            </div>
        </article>
    </section>

    <!-- game table -->
    <section class="section">
        <turbo-frame id="game-table-frame">
            <!-- mobile sort navigation -->
            <div class="box is-hidden-tablet is-hidden-desktop" style="max-width: 900px" id="sortBox">
                <form action="{{ path('library') }}" method="get" data-turbo-action="replace">
                    <div class="select is-rounded is-small">
                        <select name="search_form[orderBy]">
                            {% for key, column in columns %}
                                <option value="{{ key }}" {{ key == searchParams.orderBy ? 'selected' : '' }}>{{ column.label }}{% if column.iconCode %} &#xe{{ column.iconCode }};{% endif %}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="select is-rounded is-small">
                        <select name="search_form[order]">
                            <option value="ASC" {{ searchParams.order == 'ASC' ? 'selected' : '' }}>A...Z</option>
                            <option value="DESC" {{ searchParams.order != 'ASC' ? 'selected' : '' }}>Z...A</option>
                        </select>
                    </div>

                    <input class="button is-outlined is-small" type="submit" value="Ordenar">
                    <input type="hidden" name="search_form[gameName]" value="{{ searchParams.gameName }}">
                    <input type="hidden" name="search_form[playerCount]" value="{{ searchParams.playerCount }}">
                    <input type="hidden" name="search_form[exactPlayerCount]" value="{{ searchParams.exactPlayerCount }}">
                    <input type="hidden" name="search_form[maxPlaytime]" value="{{ searchParams.maxPlaytime }}">
                    <input type="hidden" name="search_form[minPlaytime]" value="{{ searchParams.minPlaytime }}">
                    <input type="hidden" name="search_form[minWeight]" value="{{ searchParams.minWeight }}">
                    <input type="hidden" name="search_form[maxWeight]" value="{{ searchParams.maxWeight }}">
                    <input type="hidden" name="search_form[recommendedAge]" value="{{ searchParams.recommendedAge }}">
                </form>
            </div>
            <div class="container">
                <div class="b-table">
                    <div class=" table-wrapper has-mobile-cards">
                        <table id='games' class="table is-striped is-hoverable is-fullwidth">
                            <!-- Header -->
                            <thead>
                            <tr>
                                <th class="is-chevron-cell"></th>
                                {% for key, column in columns %}
                                    <th {{ searchParams.orderBy == key ? 'is-current-sort' : '' }}">
                                    <a data-turbo-action="replace"
                                       href="{{ libraryPath(key, searchParams.order != 'ASC' and key == searchParams.orderBy, searchParams) }}">
                                        {% if column.icon %}
                                            <span class="icon"><i class="{{ column.icon }}"></i></span>
                                        {% else %}{{ column.label }}
                                        {% endif %}
                                    </a>

                                    {% if searchParams.orderBy == key %}<span class="icon">
                                        <i class="arrow-{{ searchParams.order == 'ASC' ? 'up' : 'down' }}"></i>
                                        </span>{% endif %}
                                    </th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <!-- Table Body -->
                            <tbody data-controller="details">
                            {% for game in games %}
                                <tr>
                                    <td class="is-chevron-cell">
                                    <span class="icon arrow"
                                          data-action="click->details#toggle"
                                          data-details-bgg-id-param="{{ game.bggId }}">↘︎</span>
                                    </td>
                                    <td data-label="{{ columns.name.label }}" class="title is-6">
                                        <a href="https://boardgamegeek.com/boardgame/{{ game.bggId }}">{{ game.name }}</a>
                                    </td>
                                    <td data-label="{{ columns.rating.label }}">{{ game.rating > 0 ? game.rating|round(1) : '❓' }}</td>
                                    <td data-label="{{ columns.minPlayers.label }}">{{ game.minPlayers }}👤</td>
                                    <td data-label="{{ columns.maxPlayers .label }}">{{ game.maxPlayers }}👤</td>
                                    <td data-label="{{ columns.minPlaytime.label }}">{{ game.minPlaytime > 0 ? game.minPlaytime ~ "'" : '🤷‍️' }}</td>
                                    <td data-label="{{ columns.maxPlaytime.label }}">{{ game.maxPlaytime > 0 ? game.maxPlaytime ~ "'" : '🤷‍️' }}</td>
                                    <td data-label="{{ columns.averageWeight.label }}">{{ game.averageWeight > 0 ? game.averageWeight|round(1) : '❓' }}</td>
                                    <td data-label="{{ columns.recommendedAge.label }}">{{ game.recommendedAge > 0 ? game.recommendedAge : '❌' }}</td>
                                    <td data-label="{{ columns.yearPublished.label }}">{{ game.yearPublished > 0 ? game.yearPublished : '🤔' }}</td>
                                </tr>
                                <tr id="details-{{ game.bggId }}" class="detail" style="display: none">
                                    <td colspan="10" class="is-size-7">
                                        <div class="detail-container">
                                            {% if game.mechanics is not empty %}
                                                <span class="title is-6">🛠</span>: {{ game.mechanics|join(', ') }}
                                            {% endif %}
                                            {% if game.categories is not empty %}
                                            <span class="title is-6">🧩</span>: {{ game.categories|join(', ') }}
                                            {% endif %}<br/>
                                            {% if game.designers is not empty %}
                                                <span class="title is-6">✍️</span>: {{ game.designers|join(', ') }}
                                            {% endif %}
                                            {% if game.publisher is not empty %}
                                                <span class="title is-6">🏭</span>: {{ game.publisher }}
                                            {% endif %}
                                            {% if game.expansions is not empty %}
                                                <span class="title is-6">⚙️</span> {{ game.expansions|join(', ') }}
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </turbo-frame>
    </section>

{% endblock body %}
